@import components/mixin
*
    margin: 0
    padding: 0
html
    font-size: 0.8px
    scroll-behavior: smooth
    +media(768)
        font-size: 1px
    +media(2560)
        font-size: 1.6px
body
    font-family: "Maven Pro"
header
    margin-bottom: 121rem
a
    text-decoration: none
hr
    max-width: 1820rem
    margin: 0 auto
.wrapper
    max-width: 90%
    margin: 0 auto
.flex-between
    display: flex
    justify-content: center
    align-items: center
.bgc-black
    position: fixed
    right: -100%
    top: 0
    width: 100%
    height: 100%
    background: rgba(#fff, 0.2)
    backdrop-filter: blur(5px)
    transition: all 0.4s ease
    z-index: 5
.light
    .logo
        font-size: 30rem
        letter-spacing: 6rem
        line-height: 0.9em
        color: #ffffff
        font-weight: 700
        text-transform: uppercase
    .btn
        color: #ffffff
        +btn($fixed:false)
        +media(2560)
            width: 250px
nav 
    p.dark
        a.btn
            padding: 9px 0
            color: #ffffff
            +btn($fixed:false, $empty:true)
.card-figure
    a
        color: #6e45e2
        +btn()
.logo
    span.dark
        font-size: 30rem
        letter-spacing: 6rem
        line-height: 1em
        color: #37374a
        font-weight: 700
        text-transform: uppercase
    a
        display: flex
        align-items: center
        gap: 17rem
.mainfon
    min-height: 85vh
    padding-bottom: 100px 
    position: relative
    +gradient("../img/fontwo.jpg")
    margin: 0
.navigation
    position: relative
    padding: 50rem 0
    gap: 10px
    justify-content: space-between
    +media(768)
        flex-direction: row
    li
        list-style: none
        margin-right: 30rem
    &.light
        nav
            align-items: stretch
            flex-direction: column
            justify-content: flex-start
            position: fixed
            top: 0
            left: -100%
            height: 100vh
            width: 60%
            background-color: #6461d2
            z-index: 5
            padding: 40px
            transition: all 0.5s ease
            +media(1024)
                display: flex
                justify-content: space-between
                align-items: center
                flex-direction: row
                position:  static
                height: auto
                width: auto
                background-color: transparent
                padding: 0
            a
                min-width: 45rem
                position: relative
                font-size: 16rem
                line-height: 1.1em
                font-weight: 500
                display: inline-block
                padding: 10px 0px
                color: #ffffff
                +media(1080)
                    letter-spacing: 1rem
                    font-size: 16rem
                    padding: 10px 0px
                &::after
                    content: ""
                    position: absolute
                    top: 0rem
                    left: 0
                    display: inline-block
                    height: 1em
                    width: 100%
                    border-bottom: 1rem solid #ffffff
                    margin-top: 10rem 
                    opacity: 0
                    transition: opacity 0.35s, transform 0.35s
                    transform: scale(0,1) 
                &:hover::after
                    opacity: 1
                    transform: scale(1)
            svg
                position: absolute
                top: 20rem
                right: 20rem
                fill: #fff
                +media(1024)
                    display: none
            ul
                flex-direction: column
                display: flex
                text-transform: none
                +media(1024)
                    flex-direction: row
                    width: 100%

        a
            color: #ffffff
    &.dark
        flex-direction: column
        +media(425)
            flex-direction: row
    .dark.menu
        display: none
        +media(1024)
            display: flex
    .dark.cancel-burger
        display: none
    .dark
        a
            color: #37374a
            font-size: 16px
            line-height: 1.1em
            font-weight: 500
            font-family: "Maven Pro"
        a
            position: relative
            font-size: 16rem
            line-height: 1.1em
            font-weight: 500
            text-transform: none
            letter-spacing: 1rem
            transition: all 0.5s ease
            &:hover
                color: #6e45e2
.infoflex
    min-height: 65vh
.info
    text-align: center
.light
    .bord
        position: relative
        display: block
        width: 30px
        padding: 2rem
        background-color: #fff
        border-radius: 3rem
        &::before,
        &::after
            content: ""
            display: inline-block
            position: absolute
            left: 0
            width: 30px
            padding: 2rem
            background-color: #fff
            border-radius: 3rem
        &::before
            top: -8rem
        &::after
            bottom: -8rem
        +media(1024)
            display: none
.socialMarketing
    position: relative
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 2.2em
    text-transform: uppercase
    color: #ffffff
    font-weight: 700
    &::before,
    &::after
        content: ""
        position: absolute
        top: 50%
        width: 25rem
        height: 1rem
        background-color: #fff
        transform: translateY(-50%)
    &::before
        left: 10%
        +media(375)
            left: 15%
    &::after
        right: 10%
        +media(375)
            right: 15%
.pricingTable
    padding: 30rem 0 22rem
    font-size: 86rem
    letter-spacing: -3rem
    line-height: 0.8em
    color: #ffffff
    font-weight: 500
.loremOne
    font-size: 16rem
    line-height: 1.7em
    color: #ffffff
    font-weight: 400
    margin: 0 auto
    max-width: 400rem
.arrow
    min-height: 10vh    
    position: absolute
    bottom: 0
    left: 50%
    width: 64rem
    transform: translateX(-50%)
    padding-bottom: 20px 
    img
        max-width: 100rem
        transform: translateX(-19%)
        transition: all 0.5s ease
        +media(768)
            max-width: none
    &:hover 
        img
            filter: drop-shadow(0 0 10.5rem rgba(204,204,223,0.5))
.card-figure
    p,
    li
        font-size: 16rem
        line-height: 1.7em
        color: #9fa4af
        font-weight: 400
.price
    font-size: 60rem
    letter-spacing: -2rem
    line-height: 1.2em
    color: #4f4f6f
    font-weight: 500
.selectplan
    justify-content: center
    text-align: center
    padding-bottom: 100rem 
.misocialtext
    position: relative
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 2.2em
    text-transform: uppercase
    color: #9fa4af
    &::before,
    &::after
        content: ""
        position: absolute
        top: 15rem
        width: 25rem
        height: 1rem
        background-color: #6e45e2
        transform: translateY(-50%)
    &::before
        left: 30%
    &::after
        right: 30%
.selectplantext
    font-size: 60rem
    padding: 19rem 0 32rem
    letter-spacing: -2rem
    line-height: 1.2em
    color: #4f4f6f
    font-weight: 500
.loremtwo
    font-size: 16rem
    line-height: 1.7em
    color: #9fa4af
    font-weight: 400
    max-width: 400rem
.cards
    column-gap: 50rem
    justify-content: center
    text-align: center
    margin-bottom:120rem
    flex-direction: column
    flex-wrap: wrap
    gap: 20px
    li
        list-style: none
    +media(768)
        flex-direction: row
.card-figure
    padding: 22rem 12rem
    border-radius: 30rem
    border: 1rem solid #d7dbe8
    background-color: #ffffff
    min-height: 545rem
    min-width: 300rem
    box-sizing: border-box
    transition: all 0.4s ease
    &:hover
        box-shadow: 0 0 46rem 20rem rgba(204,204,223,0.71)
    +media(1660)
        padding: 72rem 62rem
.picture
    margin-bottom: 23rem
    +media(1660)
        margin-bottom: 53rem
.personal
    margin-bottom: 18rem 
    +media(1660)
        margin-bottom: 28rem 
.price
    margin-bottom: 20rem 
    +media(1660)
        margin-bottom: 50rem 
    b
        position: relative
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 1.2em
        color: #4f4f6f
        font-weight: 500
    .curency
        position: absolute
        top: 0
        left: -8rem
        font-size: 16rem
        letter-spacing: -1rem
        line-height: 3.1em
        color: #4f4f6f
        font-weight: 500
.control
    +gradient("../img/world.jpg")
    justify-content: center
    text-align: center
    padding: 100rem 0
    +media(1024)
        padding: 145rem 0
    +media(1600)
        padding: 185rem 0
.description
    margin-bottom: 24rem 
    +media(1660)
        margin-bottom: 54rem
.socialmartketing
    font-size: 14rem
    letter-spacing: 1rem
    text-transform: uppercase
    color: #ffffff
    font-weight: 700
.takecontrol
    font-size: 60rem
    letter-spacing: -2rem
    color: #ffffff
    font-weight: 500
    padding: 18rem
.buttons
    flex-direction: column
    gap: 10rem
    +media(425)
        flex-direction: row
.getstarted
    +btn($empty: true)
.explore
    +btn($fixed: true)
.copyright
    opacity: 0.502
    font-size: 14rem
    line-height: 19rem
    color: #6a6a77
    font-weight: 500
.footer
    justify-content: space-between
    padding: 33rem 0 26rem
    flex-direction: column-reverse
    gap: 10rem
    +media(768)
        flex-direction: row
        gap: 0
.socialmedia
    flex-direction: row
    gap: 20rem
.facebook,
.twitter,
.googleplus,
.insta
    fill: #b4b4bb
    transition: all 0.5s ease
    &:hover
        fill: #6e45e2